<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Younes Belouche</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{{ "img/me.jpg" | absURL }}" rel="icon">
    <link href="{{ "img/apple-touch-icon.png" | absURL }}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ "vendor/bootstrap-icons/bootstrap-icons.css" | absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ "vendor/glightbox/css/glightbox.min.css" | absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ "vendor/swiper/swiper-bundle.min.css" | absURL }}" rel="stylesheet" type="text/css">

    <!-- Template Main CSS File -->
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet" type="text/css">
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="">Younes Belouche</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#work">Projects</a></li>
                <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url({{ "img/desk_setup.jpg" | absURL }})">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="hero-title mb-4">I am Younes Belouche</h1>
                <p class="hero-subtitle">
                    <span class="typed" data-typed-items="Software engineer, Mobile developer, Backend developer."></span>
                </p>
            </div>
        </div>
    </div>
</div>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="{{ "img/me.jpg" | absURL }}" class="img-fluid rounded b-shadow-a" alt="Younes Belouche" loading="lazy">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Younes Belouche</span></p>
                                            <p><span class="title-s">Profile: </span> <span>Software engineer</span></p>
                                            <p><span class="title-s">Email: </span> <span>younesbelouche@gmail.com</span></p>
                                            <p><span class="title-s">Phone: </span> <span>+213 657 230 801</span></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Languages and tools section -->
                                <p><h5 align="left">Languages and tools:</h5></p>
                                <p align="left"><a href="https://developer.android.com" target="_blank"
                                    rel="noreferrer"> <img
                         src="/media/icons/android-original-wordmark.svg"
                         alt="android" width="40" height="40"/> </a> <a href="https://dart.dev"
                                                                        target="_blank"
                                                                        rel="noreferrer"> <img
                         src="/media/icons/dartlang-icon.svg"
                         alt="dart" width="40" height="40"/> </a> <a
                         href="https://www.djangoproject.com/"
                         target="_blank" rel="noreferrer"> <img
                         src="/media/icons/django.svg"
                         alt="django" width="40" height="40"/> </a> <a
                         href="https://firebase.google.com/"
                         target="_blank" rel="noreferrer"> <img
                         src="/media/icons/firebase-icon.svg"
                         alt="firebase" width="40"
                         height="40"/> </a> <a href="https://flask.palletsprojects.com/" target="_blank"
                                               rel="noreferrer"> <img
                         src="/media/icons/pocoo_flask-icon.svg"
                         alt="flask" width="40" height="40"/> </a> <a href="https://flutter.dev"
                                                                      target="_blank"
                                                                      rel="noreferrer"> <img
                         src="/media/icons/flutterio-icon.svg"
                         alt="flutter" width="40" height="40"/> </a> <a href="https://git-scm.com/"
                                                                        target="_blank"
                                                                        rel="noreferrer"> <img
                         src="/media/icons/git-scm-icon.svg" alt="git"
                         width="40" height="40"/> </a> <a href="https://heroku.com" target="_blank"
                                                          rel="noreferrer">
                     <img src="/media/icons/heroku-icon.svg" alt="heroku"
                          width="40"
                          height="40"/> </a> <a href="https://www.java.com" target="_blank"
                                                rel="noreferrer"> <img
                         src="/media/icons/java-original.svg"
                         alt="java" width="40" height="40"/> </a> <a href="https://kotlinlang.org"
                                                                     target="_blank"
                                                                     rel="noreferrer"> <img
                         src="/media/icons/kotlinlang-icon.svg"
                         alt="kotlin" width="40" height="40"/> </a> <a href="https://www.linux.org/"
                                                                       target="_blank"
                                                                       rel="noreferrer"> <img
                         src="/media/icons/linux-original.svg"
                         alt="linux" width="40" height="40"/> </a>
                     <br>
                     <br>
                     <a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> <img
                             src="/media/icons/mysql-original-wordmark.svg"
                             alt="mysql" width="40" height="40"/> </a> <a href="https://opencv.org/"
                                                                          target="_blank"
                                                                          rel="noreferrer"> <img
                             src="/media/icons/opencv-icon.svg" alt="opencv"
                             width="40" height="40"/> </a> <a href="https://postman.com" target="_blank"
                                                              rel="noreferrer">
                         <img src="/media/icons/getpostman-icon.svg"
                              alt="postman"
                              width="40" height="40"/> </a> <a href="https://www.python.org"
                                                               target="_blank"
                                                               rel="noreferrer"> <img
                             src="/media/icons/python-original.svg"
                             alt="python" width="40" height="40"/> </a> <a href="https://www.sqlite.org/"
                                                                           target="_blank"
                                                                           rel="noreferrer"> <img
                             src="/media/icons/sqlite-icon.svg" alt="sqlite"
                             width="40" height="40"/> </a> <a href="https://www.postgresql.org"
                                                              target="_blank"
                                                              rel="noreferrer"> <img
                             src="/media/icons/postgresql-original-wordmark.svg"
                             alt="postgresql" width="40" height="40"/> </a>
                     <a href="https://www.docker.com/" target="_blank" rel="noreferrer"> <img
                             src="/media/icons/docker-original-wordmark.svg"
                             alt="docker" width="40" height="40"/> </a> <a href="https://www.figma.com/"
                                                                           target="_blank"
                                                                           rel="noreferrer"> <img
                             src="/media/icons/figma-icon.svg" alt="figma"
                             width="40" height="40"/> </a> <a href="https://www.nginx.com"
                                                              target="_blank" rel="noreferrer">
                         <img
                                 src="/media/icons/nginx-original.svg"
                                 alt="nginx" width="40" height="40"/> </a> <a href="https://redis.io"
                                                                              target="_blank"
                                                                              rel="noreferrer"> <img
                             src="/media/icons/redis-original-wordmark.svg"
                             alt="redis" width="40" height="40"/> </a>
                 </p>
                                <br>
                                <p><h5 align="left">I am available on:</h5></p>
                                <p align="left">
                                    <a href="https://github.com/dombroks" target="blank"><img
                                            align="center"
                                            src="/media/icons/github.svg"
                                            alt="younes belouche" height="30" width="40"/></a>
                                    <a href="https://linkedin.com/in/younes belouche" target="blank"><img align="center"
                                                                                                          src="/media/icons/linked-in-alt.svg"
                                                                                                          alt="younes belouche"
                                                                                                          height="30"
                                                                                                          width="40"/></a>
                                    <a href="https://twitter.com/younes_belouche" target="blank"><img align="center"
                                                                                                      src="/media/icons/twitter.svg"
                                                                                                      alt="younes_belouche"
                                                                                                      height="30"
                                                                                                      width="40"/></a>
                                    <a href="https://stackoverflow.com/users/13686560" target="blank"><img
                                            align="center"
                                            src="/media/icons/stack-overflow.svg"
                                            alt="13686560" height="30" width="40"/></a>
                                    <a href="https://instagram.com/younes_belouche" target="blank"><img align="center"
                                                                                                        src="/media/icons/instagram.svg"
                                                                                                        alt="younes_belouche"
                                                                                                        height="30"
                                                                                                        width="40"/></a>
                                    <a href="https://hashnode.com/@younes_belouche" target="blank"><img align="center"
                                                                                                        src="/media/icons/hashnode.svg"
                                                                                                        alt="@younes_belouche"
                                                                                                        height="30"
                                                                                                        width="40"/></a>
                                    <a href="https://medium.com/@younes_belouche" target="blank"><img align="center"
                                                                                                      src="/media/icons/medium.svg"
                                                                                                      alt="@younes_belouche"
                                                                                                      height="30"
                                                                                                      width="40"/></a>
                                    <a href="https://www.hackerrank.com/tinoutech" target="blank"><img align="center"
                                                                                                       src="/media/icons/hackerrank.svg"
                                                                                                       alt="tinoutech"
                                                                                                       height="30"
                                                                                                       width="40"/></a>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">About me</h5>
                                    </div>
                                    <p class="lead">
                                        A Software engineer, and a Freelancer with a love to build high-quality products. I can't pass a day without learning something new. Mainly, I work in the mobile development context using Java, Kotlin for native android, and Flutter for cross-platform solutions. Also, I use Python for AI, Backend and computer networks stuff.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">Services</h3>
                        <p class="subtitle-a">What I can provide you?</p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi-android"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Native Android app development</h2>
                            <p class="s-description text-center">
                                Creating a mobile application that is tailored and dedicated to the Android platform.
                                Native mobile applications have access to devise hardware and capabilities,
                                such as sensors and cameras, also, they perform and look better.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi-phone-fill"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Cross-platform mobile app development</h2>
                            <p class="s-description text-center">
                                Creating mobile applications that are compatible multiple mobile operating
                                systems, this means that your app will target both Android & Ios platforms(even on web).
                                <br>
                                <br>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi-server"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Backend development</h2>
                            <p class="s-description text-center">
                                Creating server-side applications, which means that part that you can't see on the
                                website.
                                Backend development focuses on databases, APIs and servers.
                                <br>
                                <br>
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">My Works</h3>
                        <p class="subtitle-a">Some of my personal projects</p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range where .Site.RegularPages "Section" "projects" }}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="work-box">
                        <a href="{{ .Permalink }}">
                            <div class="work-img">
                                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid" loading="lazy">
                            </div>
                        
                            <div class="work-content">
                                <h2 class="w-title">{{ .Title }}</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">{{ .Params.context }}</span> <br>
                                    <span class="w-date">{{ .Date.Format "Jan 2, 2006" }}</span>
                                </div>
                            </div>
                    </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    
    

    <!-- ======= Testimonials Section ======= 
    <div class="testimonials paralax-mf bg-image" style="background-image: url({{ "img/desk_setup.jpg" | absURL }})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">
                            {{ range .Site.Data.quotes }}
                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="{{ .picture }}" alt="testimonial image" class="testimonial-image">
                                        <span class="author">{{ .source }}</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">{{ .text }}</p>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">Blog</h3>
                        <p class="subtitle-a">Articles I wrote</p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range where .Site.RegularPages "Section" "articles" }}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="{{ .RelPermalink }}">
                                <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-fluid" loading="lazy">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-category-box">
                                <div class="card-category">
                                    <h6 class="category">{{ .Params.context }}</h6>
                                </div>
                            </div>
                            <h3 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                            <p class="card-description">{{ .Params.brief | truncate 120 }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="post-author">
                                <a href="#">
                                    <img src="{{ "img/me.jpg" | absURL }}" alt="Younes Belouche" class="avatar rounded-circle" loading="lazy">
                                    <span class="author">Younes Belouche</span>
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="bi bi-clock"></span> {{ .Params.ReadingTime }} min read
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({{ "img/desk_setup.jpg" | absURL }})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left">Email me</h5>
                                    </div>
                                    <form action="{{ .Site.Params.contact_form_action }}" method="post" class="php-email-form">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5" placeholder="Message" id="message" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center my-3">
                                                <div class="loading">Loading</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left">Get in touch</h5>
                                    </div>
                                    <div class="more-info">
                                        <p class="lead">
                                            Hi, to get in touch, you can either email/call me or you can contact me directly on social media. My social media profiles are listed below.
                                        </p>
                                        <ul class="list-ico">
                                            <li><span class="bi bi-geo-alt"></span> Bordj Bou Arreridj, Algeria</li>
                                            <li><span class="bi bi-phone"></span> +213 657 230 801</li>
                                            <li><span class="bi bi-envelope"></span> younesbelouche@gmail.com</li>
                                        </ul>
                                    </div>
                                    <div class="socials">
                                        <p align="left">
                                            <a href="https://linkedin.com/in/younes belouche" target="blank"><img
                                                    align="center"
                                                    src="/media/icons/linked-in-alt.svg"
                                                    alt="younes belouche" height="30" width="40"/></a>
                                            <a href="https://twitter.com/younes_belouche" target="blank"><img
                                                    align="center"
                                                    src="/media/icons/twitter.svg"
                                                    alt="younes_belouche" height="30" width="40"/></a>
                                            <a href="https://instagram.com/younes_belouche" target="blank"><img
                                                    align="center"
                                                    src="/media/icons/instagram.svg"
                                                    alt="younes_belouche" height="30" width="40"/></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- ======= Footer ======= -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright-box">
                    <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ "vendor/purecounter/purecounter_vanilla.js" | absURL }}" defer></script>
<script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}" defer></script>
<script src="{{ "vendor/glightbox/js/glightbox.min.js" | absURL }}" defer></script>
<script src="{{ "vendor/swiper/swiper-bundle.min.js" | absURL }}" defer></script>
<script src="{{ "vendor/typed.js/typed.min.js" | absURL }}" defer></script>

<!-- Template Main JS File -->
<script src="{{ "js/main.js" | absURL }}" defer></script>
</body>
</html>